<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:unless value="$(arg sim_mode)">
        <ros2_control name="KapiBaraMotors" type="system">
            <hardware>
                <plugin>vel_saltis_drive/VelSaltisDrive</plugin>
                <param name="left_wheel_name">$(arg robot_name)_wheel_left1_joint</param>
                <param name="right_wheel_name">$(arg robot_name)_wheel_right3_joint</param>

                <!-- <param name="left_ear">left_ear_joint</param>
                <param name="right_ear">right_ear_joint</param> -->
                
                <param name="max_speed">10</param>
                <param name="loop_rate">30</param>
            </hardware>
            <joint name="$(arg robot_name)_wheel_left1_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param> 
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity" />

                <state_interface name="position" />
            </joint>

            <joint name="$(arg robot_name)_wheel_right3_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>

            <!-- <joint name="right_ear_joint">
                <command_interface name="position">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position" />
            </joint>

            <joint name="left_ear_joint">
                <command_interface name="position">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position" />
            </joint> -->

        </ros2_control>

        <ros2_control name="KapiBaraEars" type="system">
            <hardware>
                <plugin>vel_saltis_ears/VelSaltisEars</plugin>

                <param name="left_ear_name">$(arg robot_name)_left_ear_joint</param>
                <param name="right_ear_name">$(arg robot_name)_right_ear_joint</param>                
                <param name="loop_rate">30</param>
            </hardware>

            <joint name="$(arg robot_name)_right_ear_joint">
                <command_interface name="position">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position" />
            </joint>

            <joint name="$(arg robot_name)_left_ear_joint">
                <command_interface name="position">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position" />
            </joint>

        </ros2_control>
    </xacro:unless>

    <xacro:if value="$(arg sim_mode)">
        <ros2_control name="MujocoSystem" type="system">
            <hardware>
                <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>

                <param name="mujoco_model">$(find kapibara)/scenes/scene.xml</param>
            </hardware>

            <sensor name="kapibara_imu">
                <!-- <param name="mujoco_orientation_sensor_name">kapibara_imu_orientation</param>
                <param name="mujoco_angular_velocity_sensor_name">kapibara_imu_angular_velocity</param>
                <param name="mujoco_linear_acceleration_sensor_name">kapibara_imu_linear_acceleration</param> -->
                <param name="mujoco_type">imu</param> 
                
                <param name="mujoco_sensor_name">kapibara_imu</param>

                <state_interface name="orientation.x"/>
                <state_interface name="orientation.y"/>
                <state_interface name="orientation.z"/>
                <state_interface name="orientation.w"/>
                <state_interface name="angular_velocity.x"/>
                <state_interface name="angular_velocity.y"/>
                <state_interface name="angular_velocity.z"/>
                <state_interface name="linear_acceleration.x"/>
                <state_interface name="linear_acceleration.y"/>
                <state_interface name="linear_acceleration.z"/>
            </sensor>

            <joint name="$(arg robot_name)_wheel_left1_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>

            <joint name="$(arg robot_name)_wheel_left2_joint">
                <!-- <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface> -->
                <state_interface name="velocity" />
                <state_interface name="position" />
                <param name="mimic">$(arg robot_name)_wheel_left1_joint</param>
                <param name="multiplier">1</param>
            </joint>

            <joint name="$(arg robot_name)_wheel_left3_joint">
                <!-- <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface> -->
                <state_interface name="velocity" />
                <state_interface name="position" />
                <param name="mimic">$(arg robot_name)_wheel_left1_joint</param> 
                <param name="multiplier">1</param>
            </joint>

            <joint name="$(arg robot_name)_wheel_right3_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>

            <joint name="$(arg robot_name)_wheel_right2_joint">
                <!-- <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface> -->
                <state_interface name="velocity" />
                <state_interface name="position" />
                <param name="mimic">$(arg robot_name)_wheel_right3_joint</param>
                <param name="multiplier">1</param>
            </joint>

            <joint name="$(arg robot_name)_wheel_right1_joint">
                <!-- <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface> -->
                <state_interface name="velocity" />
                <state_interface name="position" />
                <param name="mimic">$(arg robot_name)_wheel_right3_joint</param>
                <param name="multiplier">1</param>
            </joint>

            <joint name="$(arg robot_name)_right_ear_joint">
                <command_interface name="position">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position" />
            </joint>

            <joint name="$(arg robot_name)_left_ear_joint">
                <command_interface name="position">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
        </ros2_control>
    </xacro:if>

</robot>